<h2>Crear Nuevo Producto</h2>
<hr>


<form action="/api/products" method="post">
<input type="text" name="title" placeholder="Ingrese Título">
<br>
<input type="text" name="description" placeholder="Ingrese Descripción">
<br>
<input type="number" name="price" placeholder="Ingrese Precio">
<br>
<input type="text" name="thumbnail" placeholder="Ingrese Imagen">
<br>
<input type="text" name="code" placeholder="Ingrese Code">
<br>
<select name="status">
  <option value="true" selected>True</option>
  <option value="false">False</option>
</select>
<br>
<input type="number" name="stock" placeholder="Ingrese Cantidad">
<br>
<input type="text" name="category" placeholder="Ingrese Categoría">
<br>
<input type="submit" value="Crear Producto" onclick="document.location.href='/api/products/'">

</form>

<input type="button" value="Volver" onclick="document.location.href='/realTimeProducts'" />
