<h2>Home Page</h2>
<hr>


<script> 
  // Verificar si hay un nombre guardado
var nombreGuardado = sessionStorage.getItem('nombre');

// Si hay un nombre guardado, utilizarlo
if (nombreGuardado) {
  document.write("<h2>¡Hola " + nombreGuardado + " Bienvenido!</h2>");
} else {
  // Si no hay un nombre guardado, pedirlo y guardarlo
  var nombre = prompt("Ingresa tu nombre");
  sessionStorage.setItem('nombre', nombre);
  if (nombre) {
    document.write("<h2>¡Hola " + nombre + " Bienvenido!</h2>");
  } else {
    document.write("<h2>¡Bienvenido!</h2>");
  }
}

</script>


<input type="button" value="Productos" onclick="document.location.href='/productos'" />
<br>
<input type="button" value="Productos (JSON)" onclick="document.location.href='/api/products'" />
<br>
<input type="button" value="Carts" onclick="document.location.href='/carts'" />